.market-table {
	width: 100%;
	border-collapse: collapse;

	th,
	td {
		text-align: left;
		padding: 0;
	}

	th::last-child {
		text-align: center;
	}



	thead {
		th {
			padding-bottom: 22px;

			color: #8290A0;
			font-size: 13px;
			font-weight: 400;
			letter-spacing: 0.26px;

			@media(max-width: 865px) {
				padding-bottom: 5px;
			}

			@media(max-width: 475px) {
				font-size: 9px;
			}
		}

		th:not(:last-child) {
			padding-right: 50px;

			@media(max-width: 1070px) {
				padding-right: 15px;
			}

			@media(max-width:475px) {
				padding-right: 5px;
			}
		}
	}

	tbody {
		td {
			padding-bottom: 20px;

			@media(max-width: 865px) {
				padding-bottom: 5px;
			}
		}
	}

	td:not(:last-child) {
		padding-right: 50px;

		@media(max-width: 1070px) {
			padding-right: 15px;
		}

		@media(max-width:475px) {
			padding-right: 5px;
		}
	}

}

.market-table__price {
	color: #000;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.02em;

	@media(max-width: 1270px) {
		font-size: 13px;
	}

	@media(max-width:475px) {
		font-size: 9px;
	}
}

.market-table__chanee {
	color: #4BA582;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.02em;

	@media(max-width: 1270px) {
		font-size: 13px;
	}

	@media(max-width:475px) {
		font-size: 9px;
	}
}

.market-table__cap {
	color: #000;
	font-size: 17px;
	font-weight: 500;
	letter-spacing: 0.02em;

	@media(max-width: 1270px) {
		font-size: 13px;
	}

	@media(max-width:475px) {
		font-size: 9px;
	}
}

.market-table__watch {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100%;
}

.market-table__watch-img {
	width: 22px;
	height: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	@media(max-width: 475px) {
		width: 15px;
		height: 15px;
	}
}